ion-content {
  --background: none;
  background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}


.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Asegura que la imagen mantenga sus proporciones mientras llena el área */
  border-radius: 50%; /* Mantiene la imagen circular */
  display: block;
  margin: 0 auto 16px auto; /* Centra la imagen dentro de su contenedor */
  border: 2px solid #ffffff; /* Agrega un borde blanco alrededor de la imagen para destacarla */
}
  
  .username {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }

  .email {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  ion-card {
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
  }
  
  ion-button {
    --border-radius: 8px;
    color: black;
  }

  .perfil-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .btnOpsPerfil {
    height: 80px;
    background: #007bff;
    color: white;
    border-radius: 15px;
    font-size: 18px;
  }

  

  

  