ion-content {
    --background: none;
    background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}

.profile-image{
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 16px auto;
}

.btnCCP{
    justify-content: center;
    background-color: blue;
    color: white;
}
.camera-icon {
    position: absolute; /* Posición absoluta para colocar el ícono */
    bottom: 10px; /* Ajusta este valor para mover el ícono hacia arriba o abajo */
    right: 10px; /* Ajusta este valor para mover el ícono hacia la izquierda o derecha */
    font-size: 32px; /* Tamaño del ícono */
    color: white; /* Color del ícono */
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor visibilidad */
    border-radius: 50%; /* Bordes redondeados */
    padding: 5px; /* Espacio alrededor del ícono */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }