<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras" icon="arrow-back" [routerLink]="['/perfil']"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <!-- Foto de perfil -->
      <ion-img src="assets/img/Zero.png" alt="Imagen de perfil" class="profile-image"></ion-img>

      <!-- Botón Cambiar con ícono de cámara -->
      <ion-button expand="block" color="primary" class="btnCCP">
        <ion-icon name="camera"></ion-icon>
        Cambiar
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <div class="user-info">
        <p class="username">Usuario: admin</p>
        <p class="email">Correo: juanito&#64;example.com</p>
      </div>

      <!-- Campos de entrada con más espacio hacia abajo -->
      <ion-item class="input-item">
        <ion-input placeholder="Nombres" clear-input [(ngModel)]="nombres" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input placeholder="Apellidos" clear-input [(ngModel)]="apellidos" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input type="email" placeholder="Correo" clear-input [(ngModel)]="correo" required></ion-input>
      </ion-item>

      <ion-button class="btnCCP" expand="block" color="primary" (click)="onSubmit()">
        Confirmar
      </ion-button>

      <!-- Mostrar el mensaje de error general si hay errores -->
      <div *ngIf="nombresInvalid" class="error-message">El campo Nombres es requerido.</div>
      <div *ngIf="apellidosInvalid" class="error-message">El campo Apellidos es requerido.</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>