<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="Carrito" icon="cart-outline" [routerLink]="['/carrito']"></ion-back-button>
    </ion-buttons>
    <ion-title>Catalogo de Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>


  <ion-card class="videojuego-card" *ngFor="let juego of arregloJuegos">
    <ion-item lines="none" class="videojuego-item">
      <ion-thumbnail slot="start" class="thumbnail-grande">
        <img [src]="juego.foto_prod" alt="sin imagen" style="height: 100px; width: 100px;"/>  
      </ion-thumbnail>
      <ion-label>
        <h2>{{ juego.nombre_prod }}</h2>
        <p>$: {{ juego.precio_prod | currency:'CLP':'symbol':'1.0-0' }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="add-cart-item">
      <!-- Si juego.estatus es 1, muestra los botones -->
      <ng-container *ngIf="juego.estatus === 1; else noDisponible">
        <ion-button fill="outline" slot="end" (click)="compra()">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Añadir al carro
        </ion-button>
        <ion-button fill="outline" slot="end" (click)="irJuegoUnico(juego)">
          Ver Producto
        </ion-button>
      </ng-container>
    
      <!-- Si juego.estatus es 0, muestra el mensaje "Producto no disponible" -->
      <ng-template #noDisponible>
        <p>Producto no disponible</p>
      </ng-template>
    </ion-item>
  </ion-card>
</ion-content>
        



