<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras" icon="arrow-back-outline" [routerLink]="['/paneladmin']"></ion-back-button>
    </ion-buttons>
    <ion-title>CRUD Juguetes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botón para agregar un nuevo juguete, ubicado antes de la lista -->
  <div class="add-button-container">
    <ion-button (click)="agregarJuguete()">
      <ion-icon slot="start" name="add"></ion-icon>
      Agregar Juguete
    </ion-button>
  </div>

  <!-- Lista de juguete -->
  <ion-list>
    <ion-item *ngFor="let juguete of arregloJuguetes">
      <ion-thumbnail slot="start">
        <img [src]="juguete.foto_prod" alt="sin imagen" style="height: 100px; width: 100px;"/>  
      </ion-thumbnail>
      <ion-label>
        <h3>{{ juguete.nombre_prod }}</h3>
        <p><strong>Precio:</strong> {{ juguete.precio_prod | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p><strong>stock:</strong> {{ juguete.stock_prod }}</p>
      </ion-label>
      <!-- Botones de acción para editar y eliminar -->
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editarJuguete(juguete)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="eliminarJuguete(juguete)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>