<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="editarusuario-container">
    <ion-list>
      <h1>Editar Usuarios</h1>

      <!-- Imagen del usuario -->
      <ion-item>
        <ion-label>Foto de Usuario</ion-label>
        <ion-img [src]="usuario.foto || 'assets/img/Zero.png'" alt="Foto de perfil" class="profile-image"></ion-img>
      </ion-item>

      <!-- Botón para agregar foto -->
      <ion-button expand="block" (click)="agregarFoto()">Agregar Foto</ion-button>

      
      <ion-item>
        <ion-label>Nombres</ion-label>
        <ion-input class="custom-input" type="text" [(ngModel)]="usuario.nombres" placeholder="Nombres"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input class="custom-input" type="text" [(ngModel)]="usuario.apellidos" placeholder="Apellidos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input class="custom-input" type="email" [(ngModel)]="usuario.correo" placeholder="Correo"></ion-input>
        <p *ngIf="errorCorreo" class="error-message">Correo invalido.</p>
      </ion-item>

      <ion-item>
        <ion-label>Nombre de Usuario</ion-label>
        <ion-input class="custom-input" type="text" [(ngModel)]="usuario.usuario" placeholder="Nombre de Usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contrasena</ion-label>
        <ion-input class="custom-input" type="password" [(ngModel)]="usuario.contrasena" placeholder="Contrasena (minimo 6 caracteres, incluye mayusculas, minusculas y un caracter especial)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Confirmar Contrasena</ion-label>
        <ion-input class="custom-input" type="password" [(ngModel)]="usuario.confirmarContrasena" placeholder="Confirmar Contrasena"></ion-input>
        <p *ngIf="errorContrasena" class="error-message">Las contrasenas no coinciden.</p>
      </ion-item>

         <!-- Selección de Rol -->
         <ion-item>
          <ion-label>Rol</ion-label>
          <mat-select [(ngModel)]="usuario.rol" class="select-separado">
            <mat-option value="administrador">Administrador</mat-option>
            <mat-option value="usuario">Usuario</mat-option>
          </mat-select>
        </ion-item>
  
        <!-- Selección de Estado -->
        <ion-item>
          <ion-label>Estado</ion-label>
          <mat-select [(ngModel)]="usuario.estado" class="select-separado">
            <mat-option value="activo">Activo</mat-option>
            <mat-option value="baneado">Baneado</mat-option>
          </mat-select>
        </ion-item>


        <!-- Botón para agregar foto -->
      <ion-button expand="block" (click)="agregarFoto()">Agregar Foto</ion-button>
  
      <p *ngIf="errorCampos" class="error-message">Todos los campos son obligatorios. Por favor, completa todos los campos.</p>

      <div style="height: 3pc;"></div> 
    </ion-list>
    <ion-button class="boton" expand="full" (click)="guardarCambios()" [disabled]="errorCampos || errorCorreo || errorContrasena">Guardar Cambios</ion-button>
    <ion-button class="boton" expand="full" [routerLink]="['/crudusuarios']">Volver</ion-button>
  </div>
</ion-content>
